.region-header {clear: both; float: none; margin: 0;} /* move menu back into block flow */
.region-header .block-menu {font-size: 1em; width: auto; margin: 0; border: 0;} /* move menu back into block flow. The 1em is to reset the region-header block 0.857em */
.region-header .block-menu li a {border-bottom: 0;}

/* dropdown stuff */
#main-menu-links a {
    float: none;
    white-space: nowrap;
    font-size: 14px;
}
#main-menu-links > li > span {
    font-weight: bold;
    padding: 5px 10px;
    font-size: 14px;
}
#main-menu-links ul {
    padding: 0;
    position: absolute;
    left: -1000px;
}
#main-menu-links li:hover ul {
    left: auto;
    z-index: 1000;
    background: #fff;
}
#main-menu-links ul li {
    float: none;
    margin: 0;
    padding: 0;
}
#main-menu-links ul li:hover a {
    background: rgba(240, 240, 240, 1);
}
#main-menu-links ul a {
    background: #ccc;
    background: rgba(200, 200, 200, 0.7);
    width: 150px;
    -khtml-border-radius-topleft: 0px;
    -khtml-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
/* active link */
#main-menu-links li.active-trail a {
    background: #ccc;
    background: rgba(200, 200, 200, 0.7);
}
#main-menu-links li.active-trail>a {
    background: #ffffff;
}