.vocabulary-newsletter-sections {
    color: #191919;
    font: 18px/35px Verdana,Helvetica,'Lucida Grande',Lucida,Arial,sans-serif;
    letter-spacing: 2px;
    margin: 34px 0 11px;
    text-shadow: 2px 2px 5px #dddddd;
    text-transform: uppercase;
}

.node.node-article.node-teaser > h2 {

}