body {
 margin:0 0;
 font-family:arial, verdana, sans-serif;

 background:#D2DCED;
 overflow-y:scroll;
}

.bodysmall{
	font-size:0.7em;
}

.bodymedium{
	font-size:0.9em;
}

.bodybig{
	font-size:1.1em;
}

header{
	background-color:#FFFFFF;
	margin:0px;
	padding-left:0px!important;
	padding-right:0px!important;
}

.a_small a{
	padding-left:0.5em;
	padding-right:0.2em;
}

.a_medium a{
	padding-right:0.2em;
	font-size:1.5em;
}

.a_big a{
	font-size:2em;
}

.sidebars_first{
	border-top: 5px solid #003399;
	margin-top: 0em;
	margin-right: 3em;
	width: 19%;
	margin-left: 1.8em;
	float:left;
}

.sidebars_first .region-sidebar-first{
	float: left;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.sidebars_first  .region-sidebar-first #block-menu-block-2 .menu-block-2 ul{
	padding:0;
	margin:0;
}

.sidebars_first  .region-sidebar-first #block-menu-block-2 .menu-block-2 ul li {
	list-style-image:none;
	list-style:none;
	padding-top:0.4em;
}

.sidebars_first .region-sidebar-first #block-menu-block-2 .menu-block-2 ul li a{
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 1.1em;
	color: #003399;
	text-decoration: none;
}

.sidebars_first  .region-sidebar-first #block-menu-block-2 .menu-block-2 ul li ul li a{
	color: #57575a;
    font-family: Arial;
    font-size: 0.8em;
	font-weight: bold;
    text-decoration: none;
}

.sidebars_first .region-sidebar-first #block-menu-block-2 .menu-block-2 ul li ul li{
	  background: url("../images/back-tit-blue.png") repeat-x scroll 0 100% transparent;
}

#page{
	margin-left: auto;
	margin-right: auto;
	max-width: 1160px;
	background-color:#FFFFFF;
}

#main{
	background-color:#FFFFFF;
	padding:1em;
}

#content{
	float: left;
	margin-left: 0%;
	border-top:5px solid #003399;
}

.two_column{
	width: 73%!important;
}

.three_column{
	width: 49%!important;
}


.sidebars_second{
	border-top: 5px solid #003399;
	margin-top: 0em;
	margin-left: 3em;
	width: 19%;
	float:left;
}


/* MENU */

#block-menu-block-1 .menu-block-1 .menu {
	clear: both;
	border-bottom: 5px solid #002f9d;
	font-size: medium;
	margin-bottom: 13px;
	background-color: #cfddee;
	list-style-type: none;
	padding-left:0px;
	height:39px;
	margin-right:1px;
	
}

#block-menu-block-1 .menu li span {
text-decoration: none;
color: #003399;
}

#block-menu-block-1 .menu li a {
text-decoration: none;
color: #003399;
}

#block-menu-block-1 .menu li .menu li  a{
	margin: 0 0 0 42px !important;
	font-family: 'Oswald', sans-serif;
	color: #003399;
	font-weight: 400;
	width: 181px;
	text-align: left;
	font-size: 1.2em !important;
	clear:both;
	float:none;
	text-decoration:none;
}

#block-menu-block-1 .menu li .menu li .menu li  a{
	margin: 0 0 0 42px !important;
	font-family: Arial, sans-serif;
	color: #56565a;
	font-weight: bold;
	width: 181px;
	text-align: left;
	font-size: 0.9em !important;
	clear:both;
	float:none;
	text-decoration:none;
}

#block-menu-block-1 .menu li .menu li .menu li  {
	padding:0px;
	margin:0px;
}

#block-menu-block-1 .menu li .menu  {
	border-bottom: 0px solid #002f9d;
	z-index:999;
	box-shadow: 2px 4px 5px 8px #ccc;
}

#block-menu-block-1 .menu li  {
	float:left;
	list-style-image:none!important;
	list-style-type:none!important;
	color: #003399;
	font-weight: bold;
	list-style: none;
	float: left;
	font-size: 0.875em;
	text-align: center;
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #FFF;
	padding: .8em 0;
	width: 14.179%;
}

#block-menu-block-1 .menu li:hover  ul{
	background-color: #ffffff;
    border-bottom: 0 solid #002f9d;
    border-top: 5px solid #a6b8db;
    display: block;
    height: auto;
    margin-top: 4px;
    position: absolute;
    width: 20.6em;
}

#block-menu-block-1 .menu li .menu  li .menu {
	border-top:  0px solid #A6B8DB;
	border-bottom: 5px solid #002f9d;
	background-color:#FFFFFF;
	box-shadow: none;
}

#block-menu-block-1 .menu li ul  {
	display:none;
}

#block-menu-block-1 .menu li ul li  {
	float: left;
	background-color: #FFFFFF;
	border-bottom: 0px solid #002f9d;
	width: 23.3em;
	text-align: left;
}


#block-menu-block-1 li:nth-child(7) ul{
	margin-left: -165px;
	width: 20.7em!important;
}


#block-menu-block-1 li:nth-child(7) ul li ul{
	margin-left:0px;
}

/*END MENU*/

#content a{
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	color: #003399;
}


.field.field-name-field-related-publications.field-type-entityreference.field-label-above .field-label{
	width: 99%;
	font-family: 'Oswald', sans-serif;
	color: #003399;
	font-size: 1.4em;
	font-weight: lighter;
	margin-top: 1em;
	background: 0 0 #e8eef7;
	padding-left: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	font-weight: 400;
}

#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer{
	padding-left:0px;
	padding-right:0px;
}

h1{
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 300;
	font-size: 2.15em;
	color: #003399;
	letter-spacing: -0.75px;
	margin-bottom: 4px;
}


#socialNetworksBlue {
	border-top:5px solid #002f9d;
	width:100%;
	margin-top:-24px;
}

#socialNetworksBlue #icons {
	background: url("../images/socialBorderLeft.png") no-repeat scroll 0 0px, url("../images/socialBorderRight.png") no-repeat scroll 100% 0px, none repeat scroll 0 0 #002f9d;
    height: 26px;
    margin: -5px auto 0;
    text-align: center;
    width: 235px;
	padding-top: 4px;
	background-color: #002f9d;
}

#icons img {
 padding: 0px 9px 0;
}

a{
 cursor:pointer;
}

#contact{
	margin-bottom: 15px;
	margin-right: 2.2em;
	padding-bottom: px;
	margin-top: -10px;
}

#contact a{
	color:#003399;
	text-decoration:none;
}

#languagesAndSearch 
{
 color : #003399;
 float:right;
 width:40%;
 text-align:right;
 margin-right:1em;
 font-size: 0.813em;
 font-weight: bold;
}

#languagesAndSearch input {
 vertical-align:middle;
}

#lang-dropdown-select-language_content {
border: 0;
color: #FFF;
width: 12em;
padding-left: 0.6em;
background: #dc2f82 url(../images/icoSelect.png);
background-repeat: no-repeat;
background-position: 125px center;
appearance: button;
-moz-appearance: button;
-webkit-appearance: button;
position: absolute;
float: right;
left: 78.5%;
margin-top: 2.7em;
}

#block-lang-dropdown-language-content h2{
	display:none;
}

#lang-dropdown-select-language_content::-ms-expand {
    display: none;
}

#languagesAndSearch  option{
	padding-left: 0.8em;
}

#languagesAndSearch img{
  vertical-align:middle;
}
#languagesAndSearch input[type="text"] {
 background:#002f9d;
 border:0;
 color:#FFF;
 /**font-weight: bold;*/
 width: 11.9em;
padding-left: 1em;
}
#searchText {
 margin: 0.5em 0 0;
 
}
#agencyLogo {
	float:left;
	margin-left: 1em;
}

#agencyLogo img{
	margin-top: -0.9em;
}

#europeLogo {
 float: left;
 margin: 2em 2em 1em 2.7em;
}

.breadcrumb
{
	font-family : Arial!important;
	font-weight:lighter;
	font-size : 0.875em;
	color : #003399;
	margin: 21px 0 15px 40px;
	background-color:#FFFFFF;
	border:0px;

}

.breadcrumb a
{
	font-family : Arial!important;
	color : #003399;
	font-weight:bold;
	text-decoration: none;
	border-bottom: 1px solid #dc2f82;
	
}

footer {
	background:#b2b5b6;
	color:#FFF;
	margin:0 auto;
	width:100%;
	overflow:auto;
	padding: 0 0 4px;
}

#footerMenu {
	float: left;
	width: 65%;
	margin: 1em 0 0 2em;
	color: #FFFFFF;
	font-size: 0.813em;
	font-weight: bold;
}

#socialNetworksFooter  a{
padding: 0em 0em 0em 1.8em;;
}

#socialNetworksFooter {
 float:right;
 width:30%;
 text-align:right;
 margin: 5px 1.5em 0 0;
}


#socialNetworksFooter img {
 vertical-align:middle;
}

/*PUBLICATIONS*/

span.date-display-single{
	font-size:0.8em;
}

.node-publication.node-teaser {
	background: url("../images/back-tit-blue.png") repeat-x scroll 0 100% transparent;
    margin-bottom: 0.5em;
}

.node-publication.node-teaser .field-name-title-field{
    font-family: 'Oswald',sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: -0.75px;
	padding-bottom:0.5em;
}

.node-publication.node-teaser .field-name-field-publication-type{
	float:left;
	color: #003399;
    text-decoration: none;
	font-weight: bold;
	font-size: 0.8em;
}

.node-publication.node-teaser .links {
	background: url("../images/flecha.png") no-repeat scroll right center transparent;
    color: #003399;
    float: right;
    font-family: "Oswald",sans-serif;
    font-size: 1.1em;
    margin: 0;
    padding-bottom: 0.3em;
    text-align: right;
    width: 100%;
}

.node-publication.node-teaser .links  a{
	padding-right:0.5em;
}

.pager .pager-current{
	font-size:1em;
	color:#00448a;
}

.pager li a{
	font-size:0.8em!important;
	color:#9eb9dd!important;
}

/*END PUBLICATIONS*/

/*PUBLICATIONS FULL*/
.node-publication.view-mode-full .field-name-field-publication-type a{
	color: #003399;
    font-family: "Oswald";
    font-size: 1.3em;
	padding-bottom:1em;
}

.node-publication.view-mode-full .field-name-field-cover-image{
	float:left;
	padding-right:1em;
}

.node-publication.view-mode-full  .field-name-body p{
	margin-top:0;

}

/*END PUBLICATIONS FULL*/


/*ARTICLES*/
.field-name-field-summary .field-items{
	color: #003399;
	font-size: 0.95em;
	font-weight: bold;
	font-family: Arial;
}

.field-name-field-summary{
	padding-top:1em;
	padding-bottom:1em;
	line-height: 1.3em;
}

.menu-block-3 ul{
	list-style-type: none!important;
	list-style-image:none!important; 
	margin:0;
	padding:0;
}

.menu-block-3 ul li{
	list-style-type: none!important;
	list-style-image:none!important; 
	margin:0;
	padding:0;
	float: left;
	margin-right: 2.3em;
	margin-bottom: 3em;
}

.introduction-title {
	text-decoration: none;
	color: #001791!important;
	padding-right: 1.3em!important;
	font-family: 'Oswald', sans-serif;
	font-size: 1.35em;
	font-style: normal;
	font-weight: 400;
	color: #001791;
	letter-spacing: -0.5px;
	margin-bottom: 0.2em;
	border-bottom: 10px solid #d2dced;
	height: 23px;
	line-height: 1.2em;
	padding-bottom: 0.2em;
	width: 216px;
}

/*END ARTICLES*/

/*ACCORDION*/

.accordion_clear{
	display:block; /*<span class="accordion_clear">&nbsp;</span> Put this code in the paragraphs of accordion if you need a Carry return */
}

.ui-accordion .ui-accordion-header{
	width:95%;
	padding-right:1em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	height:auto;
	font-family: 'Oswald';
	font-size: 1.35em;
	font-weight: 400;
	color: #003399;
	background:#e8eef7;
	padding-left: 10px;
	padding-bottom: 2px;
	border:0px;
	margin-bottom:0.5em;
	
	
}

.ui-state-default .ui-icon{
	background: url("../images/triangle-collapsed.png") no-repeat scroll 96% center transparent!important;
	width:100%;
}

.ui-accordion .ui-accordion-header .ui-icon{
	margin-top: -11px;
}

.ui-icon{
	height:20px;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	height:auto;
	font-family: 'Oswald';
	font-size: 1.35em;
	font-weight: 400;
	color: #003399;
	background:#e8eef7;
	padding-left: 10px;
	padding-bottom: 2px;
	border:0px;
	margin-bottom:0.5em;
}	

.ui-state-active .ui-icon{
	background: url("../images/triangle-expanded.png") no-repeat scroll 96% center transparent!important;
	width:100%;
	padding-top:3px;
}
	
.ui-accordion p {
	font-family: Arial;
	font-size: 0.8em;
	color: #000;
	line-height: 1.3em;
	margin-right: 0.5em;
	margin-top: 0.9em;
	border:0px;
	height: inherit!important;
}

.ui-accordion p a {
	text-decoration: none;
	border-bottom: 1px solid #dc2f82;
	color: #003399;
	font-family: Arial!important;
}

.ui-accordion .ui-accordion-content{
	padding:0 0 1em 0;
	margin:0;
}


/* END ACCORDION*/


/**WIKIZONE**/

#OSHWikiZone{
padding-top: 1em;
}

.OSHWikiZoneIMG
{
	background-image: url("../img/oshwiki/oshwikidetail.jpg");
	background-repeat: no-repeat;
	
	height:75px;
	
}

#contentWikiZone
{
	margin: 1em 0em 1em 0;
	background-color: #e8edf6;
	width: 562px;
}

.TitIMG
{
	position:absolute;
	color: White;
	font-size: 1.250em;
	font-family: 'Oswald', sans-serif;
	margin: 1em 0 1em 1em;
}

#menuWikiZone
{
	background-color: #a5b8db;
	height:38px;
	margin: 0.2em 0.2em 0.2em 0.2em;
}

.imgWikiZone
{
font-family : Arial;
	float:left;
	font-weight:bold;
  font-size : 0.813em;
  color: #003399;
}

.titWikiZone
{
font-family : Oswald;
  font-size : 1.5em;
  color : #003399;

font-weight: lighter;

float: left;
margin: 0.2em 0px 0.2em 0.3em;
}

.textWikiZone
{
	font-family : Arial;
	font-weight:lighter;
  font-size : 0.813em;
  color : #000000;

	font-weight:lighter;
	margin: 0em 3em 0 3em;
}

.allOSHAWiki
{

 float: right;
  font-family : Oswald;
  font-size : 1.188em;
  color : #003399;

}


.pieWikizone
{
	height: 1.875em;
}

/**OSHWIKI - LeftZone*/

.separatorOsHWiki
{
	height:0px;
}

#contentLeftZone
{
	/**margin-right: 2em;**/
}

.OSHWiki
{
	background-color: #ecf1fb;
    margin-bottom: 20px;
    padding-bottom: 1em;
}



.OSHWiki .p1
{
	margin: 0em 0em 0em 0em;
}

.OSHWiki .p2, .OSHWikiWhite .p2
{
	font-family : Arial,sans-serif;
 	font-size : 0.813em;
 	color : #57575A;
 	padding-top: 1em;
	width: 95%;
	margin-left: 1em;
	font-weight: 600;
	line-height: 1.3em;
}

.OSHWiki .p2 span{ 
	font-weight: normal;
	font-size:98%;
	display:block;
}

.OSHWiki .p3, .OSHWikiWhite .p3
{
	font-family : Oswald;
	font-size : 1.188em;
	color : #003399!important;
	font-weight:400;
	margin-top: 0.3em;
	text-align: right;
	width: 95%
}

.OSHWiki .p3 a
{
	font-family : Oswald;
	font-size : 1.188em;
	color : #003399!important;
	font-weight:400;
	margin-top: 0.3em;
	text-align: right;
	width: 95%;
	text-decoration:none;
}


.OSHWikiWhite .p4
{
 font-family : Arial;
 font-weight:lighter;
 font-size : 0.750em;
 color : #003399;
 width: 95%;
 padding-left: 1em;
 background: url("../img/vineta-lista.png") no-repeat;
 margin-top: 0.6em;  
  font-weight: bold;
}

.OSHWikiWhite .p4 a{
text-decoration: none;
color : #003399;
}

.OshwikiultimoP4{
margin-bottom: 1.5em;
}

.OSHWikiWhite
{
	background-color:#ffffff;
}


#OSHWikiDivTit
{
 font-family : Oswald;
 font-size: 1.4em;
 color : #000;

 font-weight:lighter;
margin: 0.3em 0px 0.3em 0.4em;
height: 41px;
padding-top: 0.2em;
}

#OSHWikiDivTitwhite
{
 font-family : Oswald;
 font-size: 1.4em;
 color : #000;

 font-weight:lighter;
 margin: 0.3em 0px 0.3em 0em;
}

.imgOSHWiki
{
	float: left;
	margin-right:0.4em;
	width: 30px;
}

.imgOSHWikiwhite
{
	float: left;
	margin-right:0.2em;
	width: 30px;
}

.lblOSHWiki
{
font-family : Arial;
  color : #003399;
font-weight: bold;
}

.newsRelated 
{
float: left;
font-family : Oswald;
font-size : 0.875em;
color : #000;
font-weight: normal;
	
}
.imgRelated
{
	float: right;
}

.pieNewszone
{
	height: 1.563em;
	background: url('../img/back-tit-blue.png') repeat-x scroll 0px 100% transparent;
	padding-bottom: 0.5em;
}

/**END WIKIZONE**/

/*SLIDESHOW*/

#views_slideshow_cycle_div_publications-slidehow_2{
	width:100%;
}

.view-mode-osha_slideshow{
	background-color: #e4eaf4;
    height: 220px;
    margin-left: 4em;
    width: 86%;
}

.view-mode-osha_slideshow .field-name-field-cover-image{
	float:left;
	padding:1em;

}

.view-mode-osha_slideshow .field-name-title-field{
	font-family: 'Oswald';
	font-size: 1.1em;
	font-weight: 300;
	color: #003399;
	margin: 0px;
	line-height: 1.5em;
	width:93%;
}

.view-mode-osha_slideshow .field-name-field-publication-date{
	padding-top:0.5em;
	width:93%;
}

.view-mode-osha_slideshow .field-name-body p{
	margin:0;
	font-family: Arial;
	font-size: 0.8em;
	width:93%;
}

.view-mode-osha_slideshow .field-name-field-file{
	background: url("../images/separator.jpg") no-repeat scroll 23% 100% rgba(0, 0, 0, 0);
    height: 50px;
}


#views_slideshow_controls_text_previous_publications-slidehow{
    display: block;
	width:60px;
    height: 220px;
    position: absolute;
    top: 20.3em;
    z-index: 999999999;
	background: url('../images/slideshow-left.png') no-repeat;
	color:#cbd9ec;
}

#views_slideshow_controls_text_previous_publications-slidehow a{
	color:#cbd9ec;
}

#views_slideshow_controls_text_next_publications-slidehow{
    display: block;
    height: 220px;
	width:60px;
    position: absolute;
    top: 20.3em;
	right:11.5em;
    z-index: 999999999;
	background: url('../images/slideshow-right.png') no-repeat;
	color:#cbd9ec;
}

#views_slideshow_controls_text_next_publications-slidehow a{
	color:#cbd9ec;
}

/*END SLIDESHOW*/